h1 {
  text-align: center;
}

body {
  background-color: tan
}

button {
  background: #06206e;
  padding: 10px 0px;
  cursor: pointer;
  color: #daf17f;
  margin: 10px;
  border-radius: 5px;
  font-size: 120%;
  width: 200px;
  text-align: center;

}

.buttons {
  text-align: center;
}

.Login {
  width: 100%;
}
