h1 {
  text-align: center;
  color: #06206e;
}

body {
  background-color: tan
}

button {
  background: #06206e;
  padding: 10px 50px;
  cursor: pointer;
  color: #daf17f;
  margin: 10px;
  border-radius: 5px;
  font-size: 120%
}

.buttons {
  text-align: center;
}

.StudentLogin {

}

label {
  color: 8a704c;
}

input {
  width: 20%;
  border: 30%;
}

.inputs {
  margin-left: 42%;
  width: 80%;
}
